@*@model sistemproject.Models.FullCalendarViewModels.ServiceFormOperationsViewModel*@
@model  List<dynamic>
@{int SAYAC = 1;}
@{int sayi = 1;}
@{string companycontract = "";}
@{string VERGIHESAPNO = "";}
@{string TELEFON1 = "";}
@{string EMAIL1 = "";}
@{string ADRESS = "";}
@{string SEHIRAD = "";}
@{string ILCEAD = "";}
@{string YETKILIADSOYAD = "";}
@foreach (var y in Model)
{
    <div class="accordion-item">
        <div class="accordion-header" id="flush-@SAYAC">
            <div class="accordion-button collapsed" data-accordion-button="@y.HESAPKOD" type="button" data-bs-toggle="collapse" data-bs-target="#flush-@SAYAC@SAYAC" aria-expanded="false" aria-controls="flush-@SAYAC">
                <div class="row" style="width:inherit;">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <label class="Label-Title" style="font-size: 0.9rem;">@y.UNVAN</label><br />
                        <label class="Label-Text" style="font-size: 0.7rem;">@y.VERGIHESAPNO</label>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-12">
                        <label class="Label-Title" style="font-size: 0.9rem;">@y.EMAIL1</label> <br />
                        <label class="Label-Text" style="font-size: 0.7rem;">@y.TELEFON1</label>
                    </div>
                    <div class="col-lg-5 col-md-6 col-sm-12 my-auto">

                        @if (y.ADRESS == null || y.ADRESS == "")
                        {
                            <label class="Label-Text font-weight-bold" style="font-size: 0.8rem;">
                                Adres bilgisi bulunamadı
                            </label> <br />
                        }
                        else
                        {
                            <label class="Label-Text font-weight-bold" style="font-size: 0.8rem;">
                                @y.ADRESS
                            </label> <br />
                        }


                        @if (y.ILCEAD == null)
                        {
                            <label class="Label-Text" style="font-size: 0.8rem;">
                                @y.SEHIRAD
                            </label>
                        }
                        else if (y.SEHIRAD == null)
                        {
                            <label class="Label-Text" style="font-size: 0.8rem;">
                                @y.ILCEAD
                            </label>
                        }
                        else
                        {
                            <label class="Label-Text" style="font-size: 0.8rem;">
                                @y.ILCEAD / @y.SEHIRAD
                            </label>
                        }
                    </div>
                    <div class="col-1 text-right my-auto">
                        <a id="showDetails" href="/CpmServisSistemi/MyCompanyInfo?CompanyId=@y.HESAPKOD"><span style="border-radius: 4px;" class="p-1 bg-warning text-dark">Tıklayınız...</span></a>
                    </div>
                    <div class="col-lg-1 col-md-6 col-sm-12 my-auto text-center">
                        <img style="" class="hideIMG" src="~/Images/iconsforservcie/ucnokta.svg" height="14" />
                    </div>
                </div>
            </div>
        </div>
        <div id="flush-@SAYAC@SAYAC" class="accordion-collapse collapse" aria-labelledby="flush-@SAYAC" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body MusteriFormData" style="background-color: var(--thCardBack)!important;">

            </div>
        </div>

    </div>
    SAYAC++;
}