@model(List<dynamic>, List<dynamic>, string, List<dynamic>)
@{
    ViewBag.Title = "NewSoftwareProject";
    Layout = "~/Views/Shared/NewThema/_LayoutTakvim.cshtml";
}

<style>
    .bootstrap-select {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    .form-control {
        border: 1px solid var(--thBorder) !important;
        border-radius: 6px !important;
    }
</style>
<link href="~/Content/SweetAlert2/sweetalert2.min.css" rel="stylesheet" />
<link href="~/Content/fileUpload/css/style.css" rel="stylesheet" />
<div class="d-flex flex-column flex-root" id="deneme">
    <div class="page d-flex flex-row flex-column-fluid">
        <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
            <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
                <div class="post d-flex flex-column-fluid" id="kt_post">
                    <div id="kt_content_container" class="container-xxl">
                        <div class="row mt-5 mb-5">
                            <div class="col-lg-12">
                                <div class="card" style="border:none !important">
                                    <div class="card-body">
                                        <h4 class="mt-0 header-title">Yeni Bir Yazılım Projesi Ekle</h4>
                                        <p class="text-muted mb-3">
                                            Lütfen proje bilgilerini aşağıda istenen şekilde giriniz !
                                        </p>
                                        <div class="row">
                                            <div class="col-lg-7">
                                                <div class="form-group row">
                                                    <label for="example-text-input" class="col-sm-2 col-form-label text-left">Proje Adı</label>
                                                    <div class="col-sm-10">
                                                        <input class="Input-Medium col-12 inputValidateControl" type="text" placeholder="Proje adı yazınız..." value="" id="ProjectName">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="example-email-input" class="col-sm-2 col-form-label text-left">Firma</label>
                                                    <div class="col-sm-10">
                                                        <select class="selectpicker font13 selectValidateControl p-0" id="SelectCompanyId" data-live-search="true" data-live-search-style="contains" data-show-subtext="true">
                                                            <option data-tokens="" value="0">Firma Adı Arayınız...</option>
                                                            @foreach (var t in Model.Item1)
                                                            {
                                                                <option data-tokens="" data-hesapkod="@t.HESAPKOD" value="@t.ANAHESAPKOD">@t.UNVAN</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="example-tel-input" class="col-sm-2 col-form-label text-left">Sözleşme</label>
                                                    <div class="col-sm-10">
                                                        <select class="Dropdown col-lg-12 col-md-12 col-sm-12 mt-2 Input-Medium selectValidateControl" id="SelectContractId">
                                                            <option value="">Seçiniz</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="example-email-input" class="col-sm-2 col-form-label text-left">Proje Sorumlusu</label>
                                                    <div class="col-sm-10">
                                                        <select class="selectpicker font13 selectValidateControl p-0" id="SelectPersonId" data-live-search="true" data-live-search-style="contains" data-show-subtext="true">
                                                            <option data-tokens="" value="">Danışman Adı Arayınız...</option>
                                                            @foreach (var t in Model.Item4)
                                                            {
                                                                <option data-tokens="" value="@t.ID">@t.FULLNAME</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="example-tel-input" class="col-sm-2 col-form-label text-left">Açıklama</label>
                                                    <div class="col-sm-10">
                                                        <textarea class="form-control inputValidateControl" rows="7" id="Description">  </textarea>
                                                    </div>
                                                </div>
                                                <div class="mb-3" style="border: 1px #406c8033; border-style: inset;"></div>
                                                <div class="form-group row" style="background-color: #20A1DA33; border-radius: 6px;">
                                                    <label class="col-lg-3 col-form-label text-left">Proje Adımı</label>
                                                    <label class="col-lg-3 col-form-label text-left">Başlangıç Tarihi</label>
                                                    <label class="col-lg-3 col-form-label text-left">Bitiş Tarihi</label>
                                                    <label class="col-lg-3 col-form-label text-left">Adam Gün</label>
                                                </div>
                                                @{
                                                    int stepCount = 1;
                                                }
                                                @foreach (var Declaration in Model.Item2)
                                                {
                                                    <div class="form-group row getSteps">
                                                        <label for="example-search-input" style="padding: 0px 3px 0px 3px;" id="stepName@(Declaration.KOD)" class="col-sm-3 col-form-label text-left my-auto">@(stepCount++ + " - " + Declaration.ACIKLAMA)</label>
                                                        <div class="col-sm-3 my-auto" style="padding: 0px 3px 0px 3px;">
                                                            <input class="form-control tarihGetir" type="date" value="" id="startDate@(Declaration.KOD)">
                                                        </div>
                                                        <div class="col-sm-3 my-auto" style="padding: 0px 3px 0px 3px;">
                                                            <input class="form-control tarihGetir" type="date" value="" id="endDate@(Declaration.KOD)">
                                                        </div>
                                                        <div class="col-sm-3 my-auto" style="padding: 0px 2px 0px 3px;">
                                                            <input class="form-control requiredTimes inputValidateControl" placeholder="Yazınız..." type="number" value="" id="requiredTime@(Declaration.KOD)">
                                                        </div>
                                                    </div>
                                                }
                                                <div class="form-group row float-end col-sm-3">
                                                    <button class="btn btn-primary " id="SubmitProject">Projeyi Kaydet</button>
                                                </div>
                                            </div>
                                            <div class="col-lg-5 col-md-12 col-sm-12 p-4 ml-2" style="background-color: var(--thShadow); margin: inherit;">
                                                <div class="row h-100" id="FileAnaRow" style=" background-color: #fff; border-radius: 10px; padding-top: 17px;margin-left:5px; margin-right:5px;box-shadow:7px 19px 14px 2px var(--thShadow)">
                                                    <div class="col-12 text-center">
                                                        <label style="color:var(--thText);font-size: unset;font-weight:bold;">DOSYA YÜKLE</label> <br />
                                                        <label style="color:var(--thSubText);font-size:0.9rem;">Servis planına eklemek istediğiniz dosyaları yükleyebilirsiniz. </label> <br />
                                                        <form id="upload">
                                                            <div id="drop">
                                                                <img src="~/Images/iconsforservcie/icons8-upload_to_cloud.png" height="50" /><br />
                                                                <label style="font-size: 0.7rem;">Yüklemek istediğiniz dosyaları bu alana sürükleyip bırakınız.</label> <br />
                                                                <label style="font-size: 0.8rem;">VEYA</label> <br />
                                                                <a>Dosya Seç</a>
                                                                <input type="file" name="upl" multiple id="multipleFile" />
                                                            </div>
                                                            <div class="Scroll-Blue">
                                                                <ul>
                                                                </ul>
                                                            </div>
                                                        </form>
                                                        <span style="font-size:0.7rem;color:var(--thSubText)">* zip, pdf, doc, docx, xls, xlsx, png, jpeg dosya formatları kabul edilmektedir.</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/SweetAlert2/sweetalert2.all.min.js"></script>
<script src="~/Content/fileUpload/js/jquery.ui.widget.js"></script>
<script src="~/Content/fileUpload/js/jquery.iframe-transport.js"></script>
<script src="~/Content/fileUpload/js/jquery.fileupload.js"></script>
<script src="~/Content/fileUpload/js/jquery.knob.js"></script>
<script src="~/Content/fileUpload/js/script.js"></script>
<script>
    //#region Input ve Selectbox Kontrolleri
    function inputControl(üstDiv) {

        $(üstDiv + " .inputValidateControl").each(function () {
            if ($(this).val() == "") {
                $(this).attr("style", "border:1px solid var(--thRed)!important;border-radius:6px;padding-top:7px;padding-bottom:7px;");
            }
            else {
                $(this).attr("style", "border:1px solid var(--thGreen)!important;border-radius:6px;padding-top:7px;padding-bottom:7px;");
            }
        });
    }
    function selectControl(üstDiv) {
        $(üstDiv + " .selectValidateControl").each(function () {
            if ($(this).find('option:selected').val() == "" || $(this).find('option:selected').val() == 0 || $(this).find('option:selected').length < 1) {
                $(this).attr("style", "border:1px solid var(--thRed)!important; border-radius:6px");
            }
            else {
                $(this).attr("style", "border:1px solid var(--thGreen)!important; border-radius:6px");
            }
        });
    }
    //#endregion
    var kods = @Model.Item3;
    // #region Gunun Tarihini ve Saatini Getirme
    try {
        /*Günün tarihini alma ve formatlama) */
        Date.prototype.getValidFormat = function () {
            var ay = this.getMonth() + 1;
            var gun = this.getDate();
            var yil = this.getFullYear();
            return yil + "-" + (ay < 10 ? "0" + ay : ay) + "-" + (gun < 10 ? "0" + gun : gun); //Gün ve ay 10 dan küçükse başına 0 gelir
        };
        var date = new Date();
        $(".tarihGetir").val(date.getValidFormat());
    } catch (error) {
        console.error(error);
    }
    // #endregion
    //#region Dosyaları diziye atar
    window.filesArray = [];
    window.type = [];
    $("#multipleFile").on("change", function (e) {
        var files = e.target.files;
        var validImageTypes = ["image/gif",
            "image/jpeg",
            "image/png",
            "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
            "application/vnd.ms-excel",
            "application/msword",
            "application/x-zip-compressed",
            "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
            "application/pdf"];
        $.map(files, function (val) {
            if (validImageTypes.includes(val.type)) {
                window.filesArray.push(val);
            }
            return val.type;
        });
    });
    //#endregion
    // #region Firmaya Ait Sozlesmeleri Getir
    try {
        $("body").on("change", "#SelectCompanyId", function () {
            var CompayId = $("#SelectCompanyId option:selected").val();
            var CompanyName = $("#SelectCompanyId option:selected").text();
            var SelectContractId = $("#SelectContractId");
            var requiredTime1 = $("#requiredTime1");
            requiredTime1.html("");
            if (CompayId != "" && CompanyName != "Seçiniz") {
                $.ajax({
                    url: '/CpmServisSistemi/GetCompanyContract',
                    type: 'POST',
                    dataType: 'json',
                    data: { 'COMPANYID': CompayId },
                    success: function (data) {
                        SelectContractId.empty();
                        SelectContractId.append('<option value="" selected>Seçiniz</option>');
                        $.each(data.CompanyContracts2, function (index, option) {
                            SelectContractId.append('<option data-id=' + option.ID + ' value=' + option.COMPANYID + '>' + option.COMPANYCONTRACT + '</option>');
                        });

                    }
                });
            }
        });
    }
    catch (error) {
        console.error(error);
    }
    // #endregion
    //#region Proje Kaydet
    $('body').on('click', '#SubmitProject', function () {
        inputControl("#kt_content_container");
        selectControl("#kt_content_container");
        ProjectSteps = [];
        kods.forEach(elm => {
            ProjectSteps.push({
                StepName: $("#stepName" + elm).text(),
                StepId: elm,
                StartDate: $("#startDate" + elm).val(),
                EndDate: $("#endDate" + elm).val(),
                RequiredTime: $("#requiredTime" + elm).val().replace('.', ',')
            })
        });
        var ProjectName = $("#ProjectName").val() == '' ? '' : $("#ProjectName").val();
        var CompanyId = $("#SelectCompanyId option:selected").val() == '' ? '' : $("#SelectCompanyId option:selected").val();
        var CompanyName = $("#SelectCompanyId option:selected").text() == '' ? '' : $("#SelectCompanyId option:selected").text();
        var ContractId = $("#SelectContractId option:selected").attr("data-id") == '' ? '' : $("#SelectContractId option:selected").attr("data-id");
        var ContractName = $("#SelectContractId option:selected").text() == '' ? '' : $("#SelectContractId option:selected").text();
        var ResponsibleId = $("#SelectPersonId").val();
        var Description = $("#Description").val() == '' ? '' : $("#Description").val();
        var REQUIRED = [];
        $(".getSteps .requiredTimes").each(function () {
            REQUIRED.push($(this).val());
        });
        var fileData = new FormData(); //Dosyalar
        for (var i = 0; i < window.filesArray.length; i++) {
            fileData.append(window.filesArray[i].name, window.filesArray[i]);
        }
        var filecount = window.filesArray.length;

        if (CompanyId == '' || ProjectName == '' || ContractId == '' || Description == '' || ResponsibleId=='' || REQUIRED.includes('')) {
            Swal.fire(
                'Dikkat !',
                'Lütfen, kırmızı alanları doldurunuz !',
                'warning'
            )
        }
        else {
            $.blockUI({
                message: '<lottie-player autoplay  loop mode="normal" src="/Scripts/LottieFiles/cpm-loading-sc.json" style="width: 320px"></lottie-player>',
            });
            $.ajax({
                method: "POST",
                url: '/CpmServisSistemi/SaveNewSoftwareProject',
                data: {
                    ProjectName: ProjectName,
                    CompanyId: CompanyId,
                    CompanyName: CompanyName,
                    ContractId: ContractId,
                    ResponsibleId: ResponsibleId,
                    ContractName: ContractName,
                    Description: Description,
                    ProjectSteps: ProjectSteps
                },
                success: function (result) {
                    setTimeout($.unblockUI, 500);
                    toastr.success(result.Message);
                    if (result.IsSuccess == true && filecount > 0) {
                        $.ajax({
                            type: 'POST',
                            url: "/CpmServisSistemi/UploadSoftwareProjectFiles",
                            data: fileData,
                            dataType: "json",
                            contentType: false,
                            processData: false,
                            success: function (result) {
                                setTimeout($.unblockUI, 500);
                                if (result.IsSuccess == true) {
                                    toastr.success(result.Message);
                                    window.location = "/CpmServisSistemi/AllSoftwareProjects";
                                }
                                else {
                                    toastr.error(result.Message);
                                }
                            },
                            error: function () {
                                alert('Erişim sağlanamadı.');
                            }
                        });
                    }

                    else {
                        window.location = "/CpmServisSistemi/AllSoftwareProjects";
                    }
                },
                error: function () {
                    alert('Erişim sağlanamadı.');
                }
            });
        }
    });
        // #endregion
    // #region Firmaya Ait Kalan Adam Gün Getir
    try {
        $("body").on("change", "#SELECTCONTRACTID", function () {
            var COMPANYID = $("#SELECTCONTRACTID option:selected").val();
            var COMPANY = $("#SELECTCONTRACTID option:selected").text();
            var ID = $("#SELECTCONTRACTID option:selected ").attr('data-id');
            var RSERVICEDAY = $("#RSERVICEDAY");
            if (COMPANYID != "" && COMPANY != "Seçiniz") {
                $.ajax({
                    url: '/CpmServisSistemi/GetCompanyRemainderServiceDay',
                    type: 'POST',
                    dataType: 'json',
                    data: { 'COMPANYID': COMPANYID, 'ID': ID },
                    success: function (data) {
                        RSERVICEDAY.empty();
                        $.each(data.CompanyContracts2, function (index, option) {
                            RSERVICEDAY.append(option.RSERVICEDAY);
                        });

                    }
                });
            }
        });
    }
    catch (error) {
        console.error(error);
    }
    // #endregion
</script>

